* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #2a084a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #e6ded3;
}